= simple_form_for(@work, html: { class: 'form-horizontal' }) do |f|
  = f.collection_select :category_id, Category.all, :id, :name, {promt: "Choose a Category"}
  = f.input :title, label: "Job Title"
  = f.input :description, label: "Description"	
  = f.input :company, label: "Company"
  = f.input :url, label: "Link to Job"
  %br/
  = f.button :submit